<div>
    <input type="text" value="movie name" name="moviename" ([ngModel])="movie.moviename"><br>
    <input type="text" value="year" name="year" ([ngModel])="movie.year"><br>
    <input type="text" value="image_url" name="image_url" ([ngModel])="movie.image_url"><br>
    <input type="text" value="production_house" name="production_house" ([ngModel])="movie.production_house"><br>
    <input type="text" value="rating" name="rating" ([ngModel])="movie.rating"><br>
    <input type="text" value="type" name="type" ([ngModel])="movie.type"><br>
    <input type="text" value="language" name="language" ([ngModel])="movie.language"><br>
    <input type="date" value="date" name="date" ([ngModel])="movie.date"><br>
  <input type="button" value="add movies" name="addmovies" (click)="addMovie(movie)"><hr>
  </div>
