ion-content{
    --background:navy;
}
ion-card-header{
    text-align:center;
    color: white;
    font-size: 23px;
    font-weight: 500;
}
#forgot{
    margin-left: 80px;
    // text-align: center;
    color:white;
    font-size: 23px;
    text-decoration: none;
}
#new{
    margin-top:500px;
    margin-left: 130px;
    // text-align: center;
    color:white;
    font-size: 23px;
    text-decoration: none;
}
p{
    text-align: center;
    color:white;
    font-size: 13px;
}
// ion-card{
    
    
//     --background-color:rgba(56, 129, 255, 0.123);
//  }
//  ion-input{
//     --background-color:rgba(56, 129, 255, 0.123);

//  }