
<ion-content padding>
    <ion-header>
        <ion-title>Top Movies</ion-title>
        </ion-header>
  <div class="list" >
      
     
            <div *ngFor="let movie of list"> 
          <ion-card>  <ion-card-header>{{movie.name}}</ion-card-header>              
          <span class="fl"><input type="button" name="edit" value="book" (click)="onSelect(movie)"></span>
            <br>
               <img src={{movie.image_url}}>
          
           <span>Year:</span>{{movie.year}}<br>
           
            <span>Production House:</span>{{movie.production_house}}<br>
            <span>Rating:</span>{{movie.rating}}<br>
            <span>Type:</span>{{movie.type}}<br>
            <span>Language:</span>{{movie.language}}<br>
            <span>Movie-date:</span>{{movie.date}}<br>
    
                </ion-card>
            </div>
   <hr><hr>
  
  
  </div>
</ion-content>