<ion-content padding>
    <!-- <div class="form-group" id="search"  >
    <label>Choose Language</label><br>
    <select id="select"  >
        <option *ngFor="let lan of language">{{lan}}</option><br>
        
        
    </select>
    <button (click)="Search(lan)" id="searchh">Search</button>
    </div> -->
    <ion-input type="text" placeholder="Search movie by language.." name="search2" [(ngModel)] = "language"></ion-input>
    <ion-button name="search1" (click) = "search(language)">Search</ion-button>
          
                <div class="list" *ngFor="let movie of movies">
                    
                    
                  
                          <div > 
                        <ion-card> 
                           <ion-card-header><ion-card-title>{{movie.name}}<ion-button  name="book"  (click)="onSelect(movie)">book</ion-button></ion-card-title>
                           </ion-card-header>  
                           <ion-grid>            
                        <span class="fl">
                        </span>
                          <br> 
                          <ion-row><ion-col>
                             <img src={{movie.image_url}}>
                            </ion-col><ion-col>
                         <span>Year:</span>{{movie.year}}<br>
                         
                          <span>Production House:</span>{{movie.production_house}}<br>
                          <span>Rating:</span>{{movie.rating}}<br>
                          <span>Type:</span>{{movie.type}}<br>
                          <span>Language:</span>{{movie.language}}<br>
                          <span>Movie-date:</span>{{movie.date}}<br></ion-col></ion-row> 
                        </ion-grid>
                              </ion-card>
                          </div>
                      
                     
                    
                 
                
                
                </div>
</ion-content>