
ion-content{
    --background: rgb(150, 150, 230);
    --background-size: cover;
    --background-position: center;
    --background-repeat: no-repeat;
    color:white;
}

// ion-img{
// margin-top: 200px;
// }
ion-toolbar{
    --background:rgb(9, 9, 70);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;  
    text-align: center;
    font-weight: 900;
}
ion-footer{
    
    color:white;
} 
ion-card{
    --background:white;
}
#world{
    text-align: justify;
}

.a{
    width:30%;
    --color:white; 
}
.image h1{
    color:white;
    text-align: center;
}
// .foot{
//     --background:rgb(109, 109, 241);
//     color:white;
// }
ion-footer>div{
    width:20%;
    display:inline-block;
    --background:rgb(109, 109, 241);
    color:white;
}
.image{
    margin-left: 30px;
}
ion-card-title{
    text-align: center;
}